<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @notification.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @notification.to %>
</p>

<p>
  <strong>Order:</strong>
  <%= @notification.order_id %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
