<p id="notice"><%= notice %></p>

<div class="new-membership-form"></div>
<%= link_to "Add User to group", new_membership_path, remote: true, class: "new-membership-button btn btn-warning" %>

<h3>Your Groups</h3>
<div class="my-groups">
  <ul>
  <% @groups.each do |group| %>
  <%= render group %>
  <div class="well">Users</div>
  <% @memberships.each do |member| %>
  <p id=<%= member.id%>>
   <% if group.id == member.group.id %>
    <%= member.user.user_name %>
    <%= link_to 'Delete', member, id: member.id, remote: true,  method: :delete %>
    <% end %>
  </p>
  <% end %>
  <% end %>

  </ul>
</div>
<div class="new-group-form"></div>
<%= link_to "New group", new_group_path, remote: true, class: "new-group-button btn btn-primary" %>




