<!-- View for index action in user's controleer -->
<p id="notice"><%= notice %></p>

<div style="border: 2px solid black;width: 400px;height: 400px;margin-top: 100px;margin-left: 100px;">
    <h3 style="margin-left: 120px;">Latest Orders</h3>
    
     <% @orders.each do |order| %>
      <p style='margin:20px ;font-size:15px'>
        <%= order.order_for  %>  on <%= order.created_at  %>
        <br>
      </p>
    <% end %>

</div>


<div style="border: 2px solid black;width: 400px;height: 400px;float: right;margin-top: -400px;margin-right: 300px;">
    <h3 style="margin-left: 120px;">Friends Activity</h3>

	<% @user_friends.each do |friend| %>
    	

    	<% friend.orders.each do |order| %>
   
	      <p style='margin:20px ; font-size:15px '>
	        <%= friend.name %>  has created an order for <%= order.order_for  %> from <%= order.restaurant  %> .

	        <br>

	      </p>
     <% end %>
    	<br>

    	
    <% end %>




</div>