<p id="notice"><%= notice %></p>

<p>
  <strong>Order for:</strong>
  <%= @order.order_for %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.restaurant %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<% @order.items.each do |item| %>
<p><%= item.name %></p>
<% end %>
<br />
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<hr>